<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form
  action="{%url 'article:create_comment' id=article.id %}"
  method="POST"
  enctype="multipart/form-data"
>
  {% csrf_token %} 댓글 :
  <textarea name="content" id="" cols="30" rows="10"></textarea>
  <input type="submit" value="댓글 달기" />
</form>

<a href="{% url 'main:index' %}">홈으로</a>
</body>
</html>